# Btecode compiled from python
*.pyc
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor settings
.vscode/
.idea/
.DS_Store

# Other temporary files
*.log
tmp/
temp/